#logo {
  position: absolute;
  left: 135px;
  top: 73px;
  z-index: 200;
}

#menubar {
  position: absolute;
  left: 50px;
  top: 110px;
  -moz-transform: matrix( 0.92284906776214,-0.3851617817626,0.3851617817626,0.92284906776214,0,0);
  -webkit-transform: matrix( 0.92284906776214,-0.3851617817626,0.3851617817626,0.92284906776214,0,0);
  -ms-transform: matrix( 0.92284906776214,-0.3851617817626,0.3851617817626,0.92284906776214,0,0);
  z-index:107;
}

#board_body {
  position: relative;
  left:50px;
  top:330px;
  width: 1100px;
}

/* START design_shape */
.design_shape {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 987px;
  z-index: 17;
}
.design_shape .page {
  background-image: url("../assets/img/01_02030405.png");
  position: absolute;
  left: 419px;
  top: 629px;
  width: 95px;
  height: 79px;
  z-index: 15;
}
.design_shape .btn {
  background-image: url("../assets/img/btn.png");
  position: absolute;
  left: 389px;
  top: 607px;
  width: 153px;
  height: 133px;
  z-index: 14;
}
.design_shape .subject {
  font-size: 66.667px;
  font-family: "HaanYGodic24";
  color: rgb(137, 137, 137);
  line-height: 0.875;
  text-align: left;
  position: absolute;
  left: 203px;
  top: 331.101px;
  z-index: 116;
}
.design_shape .subject_ {
  font-size: 25px;
  font-family: "HaanYGodic24";
  color: rgb(85, 85, 85);
  line-height: 2.333;
  text-align: left;
  position: absolute;
  left: 204.953px;
  top: 429.77px;
  z-index: 117;
}
.design_shape .visual_line {
  background-image: url("../assets/img/visual_line.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 929px;
  height: 987px;
  z-index: 13;
}
.design_shape .shadow {
  background-image: url("../assets/img/shadow.png");
  opacity: 0.2;
  position: absolute;
  left: 724px;
  top: -39px;
  width: 176px;
  height: 987px;
  z-index: 12;
}
.design_shape .line {
  background-image: url("../assets/img/line.png");
  position: absolute;
  left: 902px;
  top: 0px;
  width: 12px;
  height: 987;
  z-index: 11;
}
.design_shape .main_wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 987px;
  z-index: 10;
}
.design_shape .main_wrap .right {
  background-image: url("../assets/img/right.png");
  opacity: 0.2;
  position: absolute;
  left: 773px;
  top: 0px;
  width: 176px;
  height: 987px;
  z-index: 9;
}
.design_shape .main_wrap .left {
  background-image: url("../assets/img/left.png");
  position: absolute;
  left: 759px;
  top: 0px;
  width: 12px;
  height: 987px;
  z-index: 8;
}
.design_shape .main_wrap .main {
  background-repeat: no-repeat;
  background-image: url("../assets/img/main01.png");
  position: absolute;
  left: 60px;
  top: 83px;
  width: 713px;
  height: 865px;
  z-index: 5;
}
.design_shape .main_wrap .line {
  background-image: url("../assets/img/line.png");
  position: absolute;
  left: 902px;
  top: 0px;
  width: 12px;
  height: 987px;
  z-index: 11;
}

/* END design_shape */

#util_bar {
  position: absolute;
  left: 940.109px;
  top: 72.362px;
  width: 360px;
  height: 15px;
  z-index: 114;
}
#util_bar .link {
  float:left;
  font-size: 14.583px;
  font-family: "HaanYGodic23";
  color: rgb(125, 125, 125);
  width:80px;
  text-align:center;
}
.divider {
  background-color: rgb(137, 137, 137);
  float:left;
  width: 1px;
  height: 15px;
  z-index: 113;
}


#notics_board {
  position: absolute;
  left: 120px;
  top: 740px;
}

#line_r {
  background-image: url("../assets/img/page_line.png");
  position: absolute;
  left: 859px;
  top: 0px;
  width: 276px;
  height: 286px;
  z-index: 22;
}
#line_b {
  background-image: url("../assets/img/page_line2.png");
  position: absolute;
  left: 0px;
  top: 162px;
  width: 1280px;
  height: 352px;
  z-index: 21;
}
#line_t {
  background-image: url("../assets/img/page_line0.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1099px;
  height: 460px;
  z-index: 20;
}
#top_img {
  background-image: url("../assets/img/page_top_img.png");
  position: absolute;
  left: 34px;
  top: 30px;
  width: 1001px;
  height: 360px;
  z-index: 18;
}

.bg {
  background-image: url("bg.png");
  position: absolute;
  left: -311px;
  top: -367px;
  width: 1591px;
  height: 2340px;
  z-index: 17;
}


#footer {
  position: absolute;
  left: 186px;
  z-index: 15;
}
#footer.top{
  top: 930px;
}

#footer div {
  position: relative;
}
#footer .float {
  float:left;
}
#footer_bottom {
  top: 5px;
}
#footer_find {
  font-size: 12.5px;
  font-family: "HaanYGodic23";
  color: rgb(85, 85, 85);
  line-height: 1.2;
  text-align: left;
  left: 94.531px;
  z-index: 13;
}
#footer_question {
  font-size: 12.5px;
  font-family: "HaanYGodic23";
  color: rgb(85, 85, 85);
  line-height: 1.2;
  text-align: left;
  left: 74.281px;
  z-index: 12;
}
#footer_lisence {
  font-size: 12.5px;
  font-family: "HaanYGodic23";
  color: rgb(85, 85, 85);
  line-height: 1.2;
  text-align: left;
  left: 58.203px;
  z-index: 11;
}
#footer_agree {
  font-size: 12.5px;
  font-family: "HaanYGodic23";
  color: rgb(85, 85, 85);
  line-height: 1.2;
  text-align: left;
  left: 39.625px;
  z-index: 10;
}
#footer_address {
  font-size: 10.417px;
  font-family: "HaanYGodic23";
  color: rgb(137, 137, 137);
  line-height: 1.2;
  text-align: left;
  left: 19.297px;
  z-index: 9;
}
#footer_intro {
  font-size: 12.5px;
  font-family: "HaanYGodic23";
  color: rgb(85, 85, 85);
  line-height: 1.2;
  text-align: left;
  left: 19.297px;
  z-index: 8;
}
#footer_shape4 {
  background-color: rgb(137, 137, 137);
  left: 86px;
  width: 1px;
  height: 10px;
  z-index: 7;
}
#footer_shape3 {
  background-color: rgb(137, 137, 137);
  left: 67px;
  width: 1px;
  height: 10px;
  z-index: 6;
}
#footer_shape2 {
  background-color: rgb(137, 137, 137);
  left: 49px;
  width: 1px;
  height: 10px;
  z-index: 5;
}
#footer_shape1 {
  background-color: rgb(137, 137, 137);
  left: 33px;
  width: 1px;
  height: 10px;
  z-index: 4;
}
#footer_shape {
  background-color: rgb(137, 137, 137);
  float:left;
  left: 11px;
  width: 1px;
  height: 42px;
  z-index: 3;
}

/* 새글 스킨 (latest) */
.latest_board .lt_pc {float:left;margin-left:20px}
.latest_board .lt {position:relative;float:left;margin-bottom:20px;padding-bottom:10px;width:354px;height:150px;border-bottom:1px solid #e9e9e9}
.latest_board .lt ul {margin:0 0 10px;padding:0;list-style:none}
.latest_board .lt li {padding:3px 0}
.latest_board .lt .lt_title {display:block;padding:10px 0 8px}
.latest_board .lt .lt_more {position:absolute;top:10px;right:0}
.latest_board .lt .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}

