#board_line_01 {
  background-image: url("../img/board_line_01.png");
  position: absolute;
  left: 859px;
  top: 0px;
  width: 276px;
  height: 286px;
  z-index: 22;
}
#board_line_02 {
  background-image: url("../img/board_line_02.png");
  position: absolute;
  left: 0px;
  top: 162px;
  width: 1280px;
  height: 352px;
  z-index: 21;
}
#board_line_03 {
  background-image: url("../img/board_line_03.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1099px;
  height: 460px;
  z-index: 20;
}
#board_img_02 {
  background-image: url("../img/board_img_02.png");
  position: absolute;
  left: 34px;
  top: 30px;
  width: 1001px;
  height: 360px;
  z-index: 18;
}
#board_bg {
  background-image: url("../img/board_bg.png");
  position: absolute;
  left: -311px;
  top: -367px;
  width: 1591px;
  height: 2340px;
  z-index: 17;
}

#side_title {
  font-size: 33.667px;
  font-family: "HaanYGodic23";
  color: rgb(255, 255, 255);
  line-height: 2.336;
  text-align: left;
  position: absolute;
  left: 175px;
  top: 438.01px;
  z-index: 33;
}

#side_sub_title {
  font-size: 21px;
  font-family: "HaanYGodic23";
  color: rgb(70, 70, 70);
  line-height: 2.4;
  text-align: left;
  position: absolute;
  left: 194.703px;
  top: 495.198px;
  z-index: 31;
}
#side_sub_title  ul {margin:0 0 10px;padding:0;list-style:none}

#side_top_line {
  background-image: url("../img/side_top_line.png");
  position: absolute;
  left: 19px;
  top: 176px;
  width: 507px;
  height: 212px;
  z-index: 30;
}
#side_left_line {
  background-image: url("../img/side_left_line.png");
  position: absolute;
  left: 141px;
  top: 327px;
  width: 177px;
  height: 375px;
  z-index: 29;
}
#side_middle_line {
  background-image: url("../img/side_middle_line.png");
  position: absolute;
  left: 112px;
  top: 416px;
  width: 317px;
  height: 185px;
  z-index: 28;
}
#side_right_line {
  background-image: url("../img/side_right_line.png");
  position: absolute;
  left: 379px;
  top: 278px;
  width: 177px;
  height: 513px;
  z-index: 27;
}
#side_bg {
  background-image: url("../img/side_bg.png");
  position: absolute;
  left: 152px;
  top: 321px;
  width: 238px;
  height: 435px;
  z-index: 26;
}

.latest_board {
  position: absolute;
  left: 927px;
  top: 129px;
  width: 360px;
  height: 810px;
  overflow:scroll;
  z-index: 40;
}

.gallery {
  position: absolute;
  left: 782px;
  top: 130px;
  width: 112px;
  height: 732px;
  z-index: 62;
}
.gallery .bottom_btn {
  background-image: url("../assets/img/bottom_btn.png");
  position: absolute;
  left: 17px;
  top: 738px;
  width: 73px;
  height: 15px;
  z-index: 61;
}
.gallery .top_btn {
  background-image: url("../assets/img/top_btn.png");
  position: absolute;
  left: 17px;
  top: 28px;
  width: 73px;
  height: 15px;
  z-index: 60;
}
.gallery .imgWrap {
  position: absolute;
  list-style: none;
  padding-left: 0px;
  left: 0px;
  top: 53px;
  margin: 0px;
  height:679px;
  width:112px;
  overflow:scroll;
  z-index: 59;
}
.gallery .img img {
  width: 112px;
  height: 74px;
  margin: 10px 0px 0px 0px;
}
.gallery .title {
  background-image: url("../assets/img/Gallery.png");
  position: absolute;
  left: 20px;
  top: 0px;
  width: 66px;
  height: 20px;
  z-index: 58;
}

